{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>VendaTech | SaaS</title>
</head>
<body>
    <header>
        <div class="logo">
            VendaTech
        </div>
        <nav>
            <a href="#home">Home</a>
            <a href="#">Sobre</a>
            <a href="#">Entrar</a>
        </nav>
    </header>
    <section id="home">
        <br>
        <main class="content">
            <div class="block">
                A PLATAFORMA SAAS PARA PEQUENAS EMPRESAS
            </div>
            <h1>Tenha o controle do seu negócio em um só lugar.</h1>
            <br><br>
            <div class="text">
                <p style="color: var(--text2);">Uma solução moderna para organizar vendas, clientes, finanças e relatórios em um só lugar, com uma experiência simples, eficiente e preparada para crescer.</p>
                <p style="color: var(--text2);">Receba atualizações frequentes de design e funcionalidades para manter seu negócio sempre ágil.</p>
            </div>
            <div class="buttons">
                <a href="#" id="btn">Comece agora</a>
                <a href="#" id="btn2">Saiba mais</a>
            </div>
        </main>
    </section>
</body>
</html>